body {
  overflow: hidden;
  background-image: url("image-from-rawpixel-id-2361865-original.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  font-weight: bold;
  font-family: 'Timmana', sans-serif;
  font-style: italic;
  /*background: #FAFAFA;*/

}



.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  flex-direction: column;
}

.welcome{
  font-size: 40px;
  color: black;
  /*background: -webkit-linear-gradient(#ffffff);*/
  /*-webkit-background-clip: text;*/
  /*-webkit-text-fill-color: transparent;*/
}

.home-menu {
  top: 40%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.field {
  margin-bottom: 12px;
}

.radio-field {
  display: flex;
  flex-direction: row;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

html, body {
  height: 100%;
}


button{
  padding: 20px 40px;
  background: none;
  border: none;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 30px;
}
button:after, button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 2px solid #000;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
button:after {
  -webkit-transform: translate(3px, 3px);
  transform: translate(3px, 3px);
}
button:before {
  -webkit-transform: translate(-3px, -3px);
  transform: translate(-3px, -3px);
}
button:hover:after, button:hover:before {
  -webkit-transform: translate(0);
  transform: translate(0);
}

input{
  padding: 20px 40px;
  background: none;
  border: none;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  cursor: pointer;
}
input:after, input:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 2px solid #000;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
input:after {
  -webkit-transform: translate(3px, 3px);
  transform: translate(3px, 3px);
}
input:before {
  -webkit-transform: translate(-3px, -3px);
  transform: translate(-3px, -3px);
}
input:hover:after, inputn:hover:before {
  -webkit-transform: translate(0);
  transform: translate(0);
}


.button-container-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.btn {
  margin: 8px;
}
.table-container {
  font-family: Arial;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}

table, th, td {
  font-family: Arial;
  border: 1px solid black;
}

th, td {
  font-family: Arial;
  text-align: center;
  min-width: 100px;
}

/*.box {*/
/*  width: 40%;*/
/*  margin: 0 auto;*/
/*  background: rgba(255,255,255,0.2);*/
/*  padding: 10px;*/
/*  border: 2px solid #fff;*/
/*  border-radius: 20px/50px;*/
/*  background-clip: padding-box;*/
/*  text-align: center;*/

/*}*/


.button-popup {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid #06D85F;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: #06D85F;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 2s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}

.margin-4 {
  margin: 4px;
  font-size: 17px;
}