@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap");

body {
  display: flex;
  overflow: hidden;
  background-image: url("image-from-rawpixel-id-2361865-original.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  font-weight: bold;
  font-family: "Tahoma", sans-serif;
  font-style: italic;
  min-height: 100vh;
  cursor: url(http://ani.cursors-4u.net/cursors/cur-12/cur1080.cur), auto !important;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  flex-direction: column;
}

.welcome {
  font-size: 40px;
  color: black;
}

.home-menu {
  top: 40%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.field {
  margin-bottom: 12px;
}

.radio-field {
  display: flex;
  flex-direction: row;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

html,
body {
  height: 100%;
}

button {
  padding: 15px 35px;
  background: none;
  border: none;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: url(http://ani.cursors-4u.net/cursors/cur-12/cur1080.cur), auto !important;
  margin-top: 20px;
  /*margin-bottom: 20px;*/
}
button:after,
button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 2px solid #000;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
button:after {
  -webkit-transform: translate(3px, 3px);
  transform: translate(3px, 3px);
}
button:before {
  -webkit-transform: translate(-3px, -3px);
  transform: translate(-3px, -3px);
}
button:hover:after,
button:hover:before {
  -webkit-transform: translate(0);
  transform: translate(0);
}

input {
  padding: 15px 30px;
  background: none;
  border: none;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  cursor: url(http://ani.cursors-4u.net/cursors/cur-12/cur1080.cur), auto !important;
}
input:after,
input:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 2px solid #000;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
input:after {
  -webkit-transform: translate(3px, 3px);
  transform: translate(3px, 3px);
}
input:before {
  -webkit-transform: translate(-3px, -3px);
  transform: translate(-3px, -3px);
}
input:hover:after,
inputn:hover:before {
  -webkit-transform: translate(0);
  transform: translate(0);
}

.button-container-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.btn {
  margin: 8px;
}
.table-container {
  font-family: "Tahoma", sans-serif;
  border-collapse: collapse;
  overflow: hidden;
  width: 500px;
  border-radius: 10px;
}

table {
  overflow-x : auto; 
  font-family: "Tahoma", sans-serif;
  border-collapse: collapse;
  background-color: white;
  overflow: hidden;
  width: 500px;
  border-radius: 10px;
}

th,
td {
  font-family: "Tahoma", sans-serif;
  text-align: center;
  font-size: 12px;
  padding: 10px;
}

th {
  background-color: #19d3ca;
  color: white;
}

.button-popup {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid #06d85f;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: url(http://ani.cursors-4u.net/cursors/cur-12/cur1080.cur), auto !important;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: #06d85f;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 2s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06d85f;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px) {
  .box {
    width: 70%;
  }
  .popup {
    width: 70%;
  }
}

.margin-4 {
  margin: 4px;
  font-size: 17px;
  padding-top: 20px;
}

h1 {
  text-align: center;
  padding-top: 60px;
}
