<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Out of The Box Quiz</title>
    <link rel="stylesheet" th:href="@{style.css}" />
  </head>
  <body>
    <div class="container">
      <h1>Game Over</h1>
      <div class="button-container">
        <a href="/form-username" class="button1"><button>Coba Lagi</button></a>
        <a href="/leaderboard" class="button1"
          ><button>Lihat leaderboard</button></a
        >
      </div>
    </div>
  </body>
</html>
