<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Out of The Box Quiz</title>
    <link rel="stylesheet" th:href="@{style.css}" />
  </head>

  <body>
    <iframe
      width="0"
      height="0"
      src="https://www.youtuberepeater.com/watch?v=NstTz8iyl-c#gsc.tab=0"
      frameborder="0"
      allowfullscreen
    ></iframe>
    <div class="container">
      <h1 class="welcome">
        Selamat datang di Out of The Box Quiz!
      </h1>
      <div class="button-container">
        <a href="/form-username" class="button1"><button>Start</button></a>
        <a href="/leaderboard" class="button1"><button>Leaderboard</button></a>
      </div>
    </div>
  </body>
</html>
