<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Out of The Box Quiz</title>
    <link rel="stylesheet" th:href="@{style.css}" />
  </head>
  <body> 
    <div class="container">
        <div th:if="${answer.getAnswer() == quiz.getAnswer()">
            <h1>Jawaban Anda Benar </h1>
            <div "${pemain.tambahSkor()}" </div>
        </div>
        <div th:unless="${answer.getAnswer() != quiz.getAnswer()}">
            <h1>Jawaban Anda Salah</h1>
            <div "${pemain.kurangiNyawa()}" </div>
        </div>
        <div class="button-container">
            <a href="/main"> <button class="button1">Selanjutnya</button></a>
      </div>
        </th:block>
    </div>
  </body>
</html>
